#lightbox ul {
    list-style-type: none;
    margin: -10px;
    padding: 0px;
    display: flex;
}

#lightbox .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#lightbox h1 {
    color: #50d1c1;
}

#lightbox .gallery {
    width: 80%;
    max-width: 980px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#lightbox .pic {
    width: calc(50% - 30px);
    max-width: 128px;
    margin: 10px;
    cursor: pointer;
}

#lightbox .pic:hover img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
    transform: scale(1.01)
}

#lightbox img {
    width: 100%;
    transition: .3s ease;
}

#lightbox .btn {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    padding: 0 8px;
    margin-left: 20px;
    background-color: #50d1c1;
    border-color: #50d1c1;
    border-radius: 4px;
    color: #FFF;
    transition: .3s;
}

#lightbox .btn:active {
    color: #ccc;
    background-color: #6AB5AE;
    border-color: #6AB5AE;
    outline: none;
}
